@import 'tailwindcss';
@font-face {
  font-family: 'estedad';
  src: url('/fonts/Estedad.woff2') format(woff2);
}

@theme {
  --font-estedad: var(--font-estedad);
  --default-font-family: var(--font-estedad);

  --color-*: initial;
  --color-primary-tint-1: #e5f2e9;
  --color-primary-tint-2: #cae4d3;
  --color-primary-tint-3: #b0d7bd;
  --color-primary-tint-4: #96c9a7;
  --color-primary-tint-5: #7cbc91;
  --color-primary-tint-6: #61ae7b;
  --color-primary-tint-7: #4e9968;
  --color-primary: #417f56;
  --color-primary-shade-1: #396f4b;
  --color-primary-shade-2: #315f41;
  --color-primary-shade-3: #294f36;
  --color-primary-shade-4: #21402b;
  --color-primary-shade-5: #183020;
  --color-primary-shade-6: #102016;
  --color-primary-shade-7: #08100b;

  --color-neutral-white: #ffffff;
  --color-neutral-gray-1: #f9f9f9;
  --color-neutral-gray-2: #e1e1e1;
  --color-neutral-gray-3: #ededed;
  --color-neutral-gray-4: #cbcbcb;
  --color-neutral-gray-5: #adadad;
  --color-neutral-gray-6: #757575;
  --color-neutral-gray-7: #717171;
  --color-neutral-gray-8: #353535;
  --color-neutral-black: #0c0c0c;

  --color-status-error-el: #fff2f2;
  --color-status-error-l: #ed2e2e;
  --color-status-error: #c30000;

  --color-status-success-el: #f3fdfa;
  --color-status-success-l: #00ba88;
  --color-status-success: #00966d;

  --color-status-warning-el: #fff8e1;
  --color-status-warning-l: #f4b740;
  --color-status-warning: #a9791c;

  --drop-shadow-*: initial;
  --drop-shadow-2: 0px 2px 2px rgba(0, 0, 0, 0.25);
  --drop-shadow-4: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --drop-shadow-6: 0px 6px 6px rgba(0, 0, 0, 0.25);
  --drop-shadow-8: 0px 8px 8px rgba(0, 0, 0, 0.25);
  --drop-shadow-12: 0px 12px 12px rgba(0, 0, 0, 0.25);
  --drop-shadow-16: 0px 16px 16px rgba(0, 0, 0, 0.25);

  --text-display-1: 4rem;
  --text-display-1--font-weight: var(--font-weight-bold);
  --text-display-1--line-height: 140%;

  --text-display-2: 3.5rem;
  --text-display-2--font-weight: var(--font-weight-bold);
  --text-display-2--line-height: 120%;

  --text-heading-1: 2.75rem;
  --text-heading-1--font-weight: var(--font-weight-bold);
  --text-heading-1--line-height: 140%;

  --text-heading-2: 2.5rem;
  --text-heading-2--font-weight: var(--font-weight-bold);
  --text-heading-2--line-height: 140%;

  --text-heading-3: 2rem;
  --text-heading-3--font-weight: var(--font-weight-bold);
  --text-heading-3--line-height: 140%;

  --text-heading-4: 1.5rem;
  --text-heading-4--font-weight: var(--font-weight-bold);
  --text-heading-4--line-height: 140%;

  --text-heading-5: 1.25rem;
  --text-heading-5--font-weight: var(--font-weight-bold);
  --text-heading-5--line-height: 140%;

  --text-heading-6: 1rem;
  --text-heading-6--font-weight: var(--font-weight-bold);
  --text-heading-6--line-height: 140%;

  --text-heading-7: 1.25rem;
  --text-heading-7--font-weight: var(--font-weight-semibold);
  --text-heading-7--line-height: 180%;

  --text-body-xl: 1.25rem;
  --text-body-xl--font-weight: var(--font-weight-normal);
  --text-body-xl--line-height: 180%;

  --text-body-lg: 1.125rem;
  --text-body-lg--font-weight: var(--font-weight-normal);
  --text-body-lg--line-height: 180%;

  --text-body-md: 1rem;
  --text-body-md--font-weight: var(--font-weight-normal);
  --text-body-md--line-height: 180%;

  --text-body-sm: 0.875rem;
  --text-body-sm--font-weight: var(--font-weight-normal);
  --text-body-sm--line-height: 180%;

  --text-caption-lg: 0.875rem;
  --text-caption-lg--font-weight: var(--font-weight-bold);
  --text-caption-lg--line-height: 180%;

  --text-caption-md: 0.75rem;
  --text-caption-md--font-weight: var(--font-weight-normal);
  --text-caption-md--line-height: 180%;

  --text-caption-sm: 0.625rem;
  --text-caption-sm--font-weight: var(--font-weight-bold);
  --text-caption-sm--line-height: 180%;

  --text-button-lg: 1rem;
  --text-button-lg--font-weight: var(--font-weight-medium);
  --text-button-lg--line-height: 180%;

  --text-button-sm: 0.875rem;
  --text-button-sm--font-weight: var(--font-weight-medium);
  --text-button-sm--line-height: 24px;

  --text-overline-lg: 1rem;
  --text-overline-lg--font-weight: var(--font-weight-normal);
  --text-overline-lg--line-height: 180%;

  --text-overline-sm: 0.75rem;
  --text-overline-sm--font-weight: var(--font-weight-bold);
  --text-overline-sm--line-height: auto;
}

@layer utilities {
  .font-estedad {
    font-family: 'estedad';
  }
}

@layer base {
  body {
    font-family: 'estedad';
  }
}
