@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'estedad-regular';
  src: url(/font/Estedad-FD-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'estedad-medium';
  src: url(/font/Estedad-FD-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'estedad-bold';
  src: url(/font/Estedad-FD-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'estedad-semibold';
  src: url(/font/Estedad-FD-SemiBold.woff2) format('woff2');
}

a {
  color: inherit;
}

body {
  font-family: 'estedad-regular';
}

@layer components {
  .inputStyles {
    /* //bg-transparent h-[40px] mb-[12px] rounded border-[#717171] border-[1px] */
    background: transparent;
    height: 40px;
    margin-bottom: 12px;
    border-radius: 4px;
  }

  .inputborder {
    border: 1px solid #717171;
  }

  .placeholder::placeholder {
    padding: 15px
  }

  .dir-rtl {
    direction: rtl;
  }

}